html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* Định nghĩa màu cam chủ đạo từ logo */
.text-orange {
    color: #ff5722 !important; /* Mã màu cam từ logo */
}

/* Định nghĩa màu xám đậm cho chữ ký */
.text-dark-gray {
    color: #333 !important;
}

    .bin-box.empty, .bin-box.occupied {
        cursor: pointer !important;
        pointer-events: auto !important;
        min-height: 50px; /* Đảm bảo ô có độ cao để bấm */
    }

    .bin-box:hover {
        opacity: 0.8;
        border: 2px solid #007bff; /* Hiệu ứng khi di chuột vào cho dễ nhìn */
    }
