@{
    ViewData["Title"] = "Liên Hệ Hỗ Trợ";
}
<div class="card border-0 shadow-sm p-4">
    <h2 class="text-primary fw-bold">LIÊN HỆ HỖ TRỢ KỸ THUẬT</h2>
    <hr>
    <p><strong>Người phụ trách:</strong> Đỗ Đức Thiện</p>
    <p><strong>Email:</strong> 22a1701d0215@students.hou.edu.vn</p>
    <p><strong>Điện thoại:</strong> 0123.456.789</p>
    <p><strong>Địa chỉ:</strong> Hiệp Hòa, Bắc Giang</p>
</div>