<section class="py-5 bg-white">
    <div class="container text-center">
        <h2 class="fw-bold mb-5" style="position: relative; display: inline-block;">
            SƠ ĐỒ TỔ CHỨC
            <span style="display:block; width:50px; height:2px; background:#ff5722; margin:10px auto;"></span>
        </h2>
        
        <div class="org-chart-img mt-4">
            @* Thay đường dẫn ảnh sơ đồ của bạn vào đây *@
            <img src="~/images/so-do-to-chuc.png" class="img-fluid shadow-sm rounded" alt="Sơ đồ tổ chức">
        </div>
    </div>
</section>